.button-icono{

    padding-inline-start:13px ;
    padding-inline-end:13px ;
    padding-block-start:13px ;
    padding-block-end: 13px;

    border: 2px solid var(--colorMorado);
    border-radius: 4px;

    background: var(--colorBlanco);
    text-decoration: none;
    display: inline-block;

}

.button-icono img {
vertical-align: middle;

}